*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

/*  style header */

.intestation{
    width: 100%;
    background-color: rgb(42, 73, 251);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.div-int{
    width: 300px;
    text-align: center;
}

.img{ 
    padding-top: 7px;  
}

#accedi{
    height: 35px;
    width: 70px;
    border-radius: 50px;
    color: rgb(42, 73, 251);
    font-weight: bolder;
    border-color: rgb(42, 73, 251);
}

ul{
    color: white;
    list-style: none;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    font-weight: bold;
}

.intestation .div-int:nth-of-type(2){
    width: 600px;
}

/* style main */

#container-info{
    width: 100%;
    height: 600px;
     display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-image: url(../img/jumbo.png); 
    background-size: cover;
}
 .pink{
   max-width: 850px;
} 

.color-style{
    color: white;
    text-align: center; 
}

h1{
    font-size: 50px;
    margin-bottom: 30px;
}

p{
 font-size: 20px;
 line-height: 30px;
 font-weight: bold;
}

.buttons{
    margin-top: 25px;
}

.scarica{
    width: 200px;
    border-color: white;
    margin-right: 10px;
}

#apriinbrowser{
    background-color: black;
    color: white;
    width: 250px;
    margin-left: 10px;
}

 .scarica, #apriinbrowser{
    height: 50px;
    border-radius: 50px;
    font-weight: bold;
    font-size: medium;
}

 .scarica::before{
    content: "\2193";
    margin-right: 10px;
    font-weight: bold ;
    font-size: large;
 }


/* stile dei container */
.container{
    width: 100%;
    display: flex;
}
.two{
    flex-direction: row-reverse;
}
.div-image{
    width: 750px;
    height: 600px;
}

.item1{
    background-image: url(../img/item1.svg);  
}

.item2{
    background-image: url(../img/item2.svg);  
}

.item3{
    background-image: url(../img/item3.svg);  
}

.item1,.item2,.item3{
    background-size: contain; 
    background-repeat: no-repeat; 
 }
 
.div-text{ 
    width: 450px; 
}

.container-infodownload{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-infodownload .div-download{
    width: 1200px;
    text-align: center;
    margin-top: 50px;
 }

.star-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 .star-text{
    background-image: url(../img/stars.svg);
   background-position: left;
    width: 50%;
    line-height: 60px;

 }

.star-container> .scarica{
    color: white;
    background-color: rgb(154, 176, 248);
    border-color: rgb(154, 176, 248);
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 100px;

}

/*  stile footer */
.container-footer{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;      
 }

 #one {
     height: 500px; 
    background-color: rgb(36, 36, 36);
    flex-direction: row;
   
}

 #two{
    background-color: rgb(36, 36, 36);
    align-items:flex-end;   
 }


.footer-ul{
    display: flex;
    flex-direction: column;
}
.footer-li{
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}
.footer-li:first-of-type{
    color: blueviolet;
    font-size:large;
}

#bandiera-italia{
    background-image: url(../img/ita.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    display: inline-block;
}

#container-italia{
    display: flex;
    justify-content: center;
}

strong{
    align-self: center;
    padding-left: 10px;
}

 .div-column{
   width: 200px;
   align-self: flex-start;
 }

 .div-column:nth-of-type(1){
    width: 400px; 
 }

 hr{
    color: aliceblue;
 }


 .div-footer{
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;   
 }


 .logo{
    width: 50px; 
 }

 .bottone{
    width: 80px;
 }

#registrati{
    color: white;
    background-color: rgb(154, 176, 248);
    border-color: rgb(154, 176, 248);
    height: 35px;
    width: 70px;
    border-radius: 50px;
 }